body{
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
}

.topnav {
    background-color: rgb(0, 0, 0);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  /* Links inside the navbar */
  .topnav li{
    display: inline;


  }

  .topnav a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px;
  }

  .topnav a:hover{
    background-color: #8c1919;
    color: rgb(179, 255, 0);
  }


  .topnav li#about{
    float: right;
  }


  .cabecalho{
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .content fig {
    width: 100%; 
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    align-items: center;
  }

  .content img {
   display: block;
   width: 120px;
   margin-left: auto;
   margin-right: auto;
  }

  .content h2 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
   }

  .footer {
    overflow: hidden;
    background-color: rgb(89, 0, 255);
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }

  .details {
    margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .details caption {
    font-size: 14px;
      font-weight: bold;
      padding: 10px;
  }
  
  .details {
    font-size: 12px;
      border: 1px solid #606060;
  }

  .details td.ce {
    background-color: rgb(0, 216, 205);
    width: 50%; /* Full width */
    text-align: left;
  }

  .details td.cd {
    background-color: rgb(0, 216, 205);
    width: 50%; /* Full width */
    text-align: left;

  }

  .table1 {
    font-size: 12px;
      border: 1px solid #606060;
      width: 50%;
  }
  
  .caixa {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;

  }
  .item {
    width: 300px;
    height: 135px;
    margin: 50px;
    text-align: center;
   
  }
